@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Honk&display=swap");
.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.property-listing {
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border: 1px solid #d1d1d1; /* Light grey border */
  border-radius: 50px; /* Softer border radius */
  background-color: #f3f3f3; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.property-listing__title {
  font-size: 1rem;
  color: #333;
}
.property-listing__preview-image {
  overflow: hidden;
  flex: 0 0 50%; /* Take up 50% of the width */
}
.property-listing__preview-image img {
  min-width: 100%; /* Ensure the image fills the container */
  padding: 0;
  object-fit: cover;
}
.property-listing__details {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-listing__details h3 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}
.property-listing__details ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.property-listing__details ul li {
  margin-bottom: 5px;
  color: #667;
}
.property-listing__details footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #667;
}

.search-property-form,
.login-form,
.new-property-form,
.sign-up-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}
.search-property-form__field-wrapper,
.login-form__field-wrapper,
.new-property-form__field-wrapper,
.sign-up-form__field-wrapper {
  width: 100%;
  display: flex;
}
.search-property-form label,
.login-form label,
.new-property-form label,
.sign-up-form label {
  display: none;
}
.search-property-form textarea,
.search-property-form select,
.search-property-form input,
.search-property-form label,
.login-form textarea,
.login-form select,
.login-form input,
.login-form label,
.new-property-form textarea,
.new-property-form select,
.new-property-form input,
.new-property-form label,
.sign-up-form textarea,
.sign-up-form select,
.sign-up-form input,
.sign-up-form label {
  margin: 5px 5px;
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-header {
  background-color: rgb(23, 27, 44);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 40px;
  max-width: 560px;
  width: 100%; /* Ensure it takes up the full width of the container */
  margin: 0 auto; /* Center the header */
}
.page-header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.page-header__user-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.page-header__user-links ul li {
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}
.page-header__user-links ul li:hover {
  color: #d1e8ff; /* Lighter blue on hover */
}

body {
  background-color: #fffff0;
  min-width: 400px;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
